test/fixtures/wsdl/article_service.xml

<?xml version="1.0"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<wsdl:definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://predic8.com/wsdl/material/ArticleService/1/"
    xmlns:ns="http://predic8.com/material/1/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:ns1="http://predic8.com/material/1/"
    xmlns:ns2="http://predic8.com/common/1/"
    targetNamespace="http://predic8.com/wsdl/material/ArticleService/1/"
    name="article">
    <wsdl:types>
        <xsd:schema xmlns:ns1="http://predic8.com/material/1/" xmlns:ns2="http://predic8.com/common/1/" targetNamespace="http://predic8.com/wsdl/material/ArticleService/1/">
            <xsd:import schemaLocation="material.xsd" namespace="http://predic8.com/material/1/"></xsd:import>
            <xsd:import schemaLocation="common.xsd" namespace="http://predic8.com/common/1/"></xsd:import>
            <xsd:element name="createResponse" type="tns:CreateResponseType"></xsd:element>
            <xsd:complexType name="CreateResponseType">
                <xsd:sequence>
                    <xsd:element name="id" type="ns2:IdentifierType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="create" type="tns:CreateType"></xsd:element>
            <xsd:complexType name="CreateType">
                <xsd:sequence>
                    <xsd:element name="article" type="ns1:ArticleType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="get" type="tns:GetType"></xsd:element>
            <xsd:complexType name="GetType">
                <xsd:sequence>
                    <xsd:element name="id" type="ns2:IdentifierType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getResponse" type="tns:GetResponseType"></xsd:element>
            <xsd:complexType name="GetResponseType">
                <xsd:sequence>
                    <xsd:element name="article" type="ns1:ArticleType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getAll" type="tns:GetAllType"></xsd:element>
            <xsd:complexType name="GetAllType">
                <xsd:sequence></xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getAllResponse" type="tns:GetAllResponseType"></xsd:element>
            <xsd:complexType name="GetAllResponseType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="article" maxOccurs="unbounded" type="ns1:ArticleType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="delete" type="tns:DeleteType"></xsd:element>
            <xsd:complexType name="DeleteType">
                <xsd:sequence>
                    <xsd:element name="id" type="ns2:IdentifierType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="deleteResponse">
                <xsd:complexType>
                    <xsd:sequence></xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="createRequest">
        <wsdl:part name="parameters" element="tns:create"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createResponse">
        <wsdl:part name="parameters" element="tns:createResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRequest">
        <wsdl:part name="parameters" element="tns:get"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getResponse">
        <wsdl:part name="parameters" element="tns:getResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllRequest">
        <wsdl:part name="parameters" element="tns:getAll"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllResponse">
        <wsdl:part name="parameters" element="tns:getAllResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteRequest">
        <wsdl:part name="parameters" element="tns:delete"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteResponse">
        <wsdl:part name="parameters" element="tns:deleteResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ArticleServicePT">
        <wsdl:documentation>Interface provided by this Service</wsdl:documentation>
        <wsdl:operation name="create">
            <wsdl:input name="input1" message="tns:createRequest"></wsdl:input>
            <wsdl:output name="output1" message="tns:createResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <wsdl:input name="input2" message="tns:getRequest"></wsdl:input>
            <wsdl:output name="output2" message="tns:getResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input name="input4" message="tns:deleteRequest"></wsdl:input>
            <wsdl:output name="output4" message="tns:deleteResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ArticleServiceBinding" type="tns:ArticleServicePT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <wsdl:operation name="create">
            <soap:operation soapAction="create_action"></soap:operation>
            <wsdl:input name="input1">
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation soapAction="get_action"></soap:operation>
            <wsdl:input name="input2">
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output name="output2">
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="delete_action"></soap:operation>
            <wsdl:input name="input4">
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output name="output4">
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ArticleService">
        <wsdl:port name="ArticleServicePort" binding="tns:ArticleServiceBinding">
            <soap:address location="http://www.predic8.com:8080/material/ArticleService"></soap:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
